<h4>Main metrics</h4>
<div class="row">
  <div class="col">
    <div class="metric alert-primary shadow-sm rounded">
      <h1>23</h1>
      <h5>TO DO <span class="oi oi-map-marker"></span></h5>
    </div>
  </div>
  <div class="col">
    <div class="metric alert-warning shadow-sm rounded">
      <h1>23</h1>
      <h5>IN PROCESS <span class="oi oi-clock"></span></h5>
    </div>
  </div>
  <div class="col">
    <div class="metric alert-success shadow-sm rounded">
      <h1>23</h1>
      <h5>DONE <span class="oi oi-check"></span></h5>
    </div>
  </div>
</div>