/* You can add global styles to this file, and also import other style files */
#page-header {
    background-color: #fff;
}

.row-wraper {
    margin-bottom: 25px;
}

.metric {
    /* border: 1px solid gray;
    border-radius: 5px; */
    text-align: center;
    padding: 50px;
}