.navibar h4 {
   color: #E6EFF2;
   text-align: center;
   text-shadow: black;
   padding: 5px;
   font-weight: 400;
   margin-bottom: 25px;
}

.navibar .nav-item:hover {
    background-color: #7BC6F2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: opacity 0.3s ease-in-out;
}

.nav-item span {
    color: #E6EFF2;
}